.top-section > h1{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 25px;
}
.top-section > p{
    font-size: 1.1rem;
    text-align: center;
}

.menu-box-img1{
  color: #fff;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.menu-box-img1::before{
    content: "";
  position: absolute;
  inset: 0;
  background: url('/Hotel-Green-Garden/assets/image/restaurant-menu5.jpg') no-repeat center center/cover;
  opacity: 0.9;  
  z-index: -1;
}

.menu-box-img2{
  color: #fff;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.menu-box-img2::before{
    content: "";
  position: absolute;
  inset: 0;
  background: url('/Hotel-Green-Garden/assets/image/restaurant-menu2.jpg') no-repeat center center/cover;
  opacity: 0.8;  
  z-index: -1;
}


.menu-box-img3{
  color: #fff;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.menu-box-img3::before{
    content: "";
  position: absolute;
  inset: 0;
  background: url('/Hotel-Green-Garden/assets/image/restaurant-menu4.jpg') no-repeat center center/cover;
  opacity: 0.8;  
  z-index: -1;
}
.menu-box-img3, .menu-box-img2, .menu-box-img1{
    margin-bottom: 35px;
}

.menu-box-img1 > p{
  text-align: center;
  margin-top: 15px;
}

.menu-box-img2 > p{
  text-align: center;
  margin-top: 15px;
}

.menu-box-img3 > p{
  text-align: center;
  margin-top: 15px;
}

.menu-box1 > img{
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.menu-box1 > p, h5{
  text-align: center;
}

.menu-box1 > h5{
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contemporanea{
  margin-bottom: 55px;
}