.profile {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.profile h2 {
  margin-bottom: 20px;
  color: #fff;
}

.form-group-profile {
  margin-bottom: 15px;
  text-align: left;
}

.form-group-profile label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.form-group-profile input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-profile[type="submit"] {
  background-color: #1161ee;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-profile[type="submit"]:hover {
  background-color: #04378f;
}
