/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

/* Hero Section */
.hero {
  background-color: #f5f5f5;
  color: #000;
  padding: 60px 20px;
   border-bottom: 1px solid #ddd;
}

.hero-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.hero-text {
  flex: 1;
  text-align: center;
}

.hero-text > h1{
  margin-bottom: 15px;
  font-size: 25px;

}

.hero-image img {
  flex: 1;
  height: 300px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.hero-image img{
  border-radius: 10px;
}

.menu-box{
  color: #fff;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.menu-box::before{
    content: "";
  position: absolute;
  inset: 0;
  background: url('/Hotel-Green-Garden/assets/image/restaurant-menu1.jpg') no-repeat center center/cover;
  opacity: 0.7;  
  z-index: -1;
}

.menu-restaurant p{
  text-align: center;
}


/* Subtext */
.subtext {
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Team Section */
.team {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
  margin-top: 30px;
}

.card {
    width: 320px;
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}


.card, h3{
  text-align: center;
}

.card, p{
    word-spacing: normal;
    letter-spacing: normal;
}

.photo {
  height: 200px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}



/* Awards Section */
.awards {
  background-color: #111111;;;
  text-align: center;
  padding: 60px 20px;
  color: #fff;
}

.award-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.icon {
  min-width: 120px;
}




.icon p {
  font-size: 1.3rem;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap; 
}


/* Contact Section */
.contact {
  background-color: #f5f5f5;
  padding: 40px 20px;
  font-size: 0.6rem;
  text-align: center;
}

.contact-grid .contact-hours p {
  margin: 5px 0;
  line-height: 1.5;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  text-align: center;
}


.contact h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;

}

.restaurant-social h2{
  margin-top: 25px;
  text-align: center;
  font-size: 0.9rem;
}

