/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

/* Hero Section */
.hero {
  background-color: #f5f5f5;
  color: #000;
  padding: 60px 20px;
   border-bottom: 1px solid #ddd;
}

.hero-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.hero-text {
  flex: 1;
  text-align: center;
}

.hero-text h1{
  margin-bottom: 15px;

}

.hero-image {
  flex: 1;
  height: 250px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.hero-image img{
  border-radius: 10px;
}

.menu-box{
  color: #fff;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.menu-box::before{
    content: "";
  position: absolute;
  inset: 0;
  background: url('/Hotel-Green-Garden/assets/image/bar4.jpg') no-repeat center center/cover;
  opacity: 0.7;  
  z-index: -1;
}


/* Subtext */
.subtext {
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Team Section */
.team {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  width: 280px;
}

.photo {
  height: 200px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.photo-light {
  background-color: #e0e0e0;
}

.photo-dark {
  background-color: #444;
}

/* Awards Section */
.awards {
  background-color: #d1d1d1;
  text-align: center;
  padding: 60px 20px;
}

.award-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.icon {
  font-size: 2rem;
}

.icon p {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Contact Section */
.contact {
  background-color: #e6e6e6;
  padding: 40px 20px;
  font-size: 0.9rem;
  text-align: center;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.contact h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

.social {
  font-size: 0.8rem;
  color: #555;
}
